$primary: #aeaeae;

//-----General Layout stuff-----

html {
    overflow-y: auto;
}
.columns {
    width: 100%;
}

li span:nth-child(3),
li span:nth-child(4) {
    text-align: end;
}

ul {
    width: 100%;
}

.fa-folder {
    color: orangered;
}

.button.is-default {
    margin-bottom: 10px;
}

#delete-file-button {
    float: right;
}
.message.is-danger {
    width: 50%;
}

.secondary-icon {
    margin-right: 5px;
    max-height: 24px;
}

/* Mark selected component as active to help navigation*/
.active {
    background-color: $primary;
}

/* Center the icons vertically */
span.fa {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
button {
    margin-top: 20px;
}

input {
    width: 50% !important;
}

li:hover {
    cursor: pointer;
}

li {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    margin: 0 !important;
}

li span {
    padding: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

#app > .panel-block {
    padding: 0;
}
#app > .panel-block > .columns {
    margin: 0 !important;    
}
//----Modifiers Panel---//
#modifiers {
    padding-left: 22px;
    border-right: 1px solid #dbdbdb;
    background-color: whitesmoke;
}

#modifiers button {
    background-color: #0049B0;
    border-color: transparent;
    color: #fff;
}
//----Upload File Stuff ---//
#add-new-avatar-wrapper {
  overflow: hidden;
  
  background: #eee;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
}

#upload-file-label {
  width: 100px;
  cursor: pointer;
  display: block;
  margin-left: 20px;
  margin-top: 10px;  
}

#upload-file-input {
  display: none;
  opacity: 0;
  text-align: right;
  cursor: pointer;
}

#submit-avatar {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}
//----Files Main---//

#files-main {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
#files-main > .panel-heading {
    border-top: 0;
    border-left: 0;
}

#files-main > .panel-block {
    // border-top: 0;
    padding-right: 24px;
    border-left: 0;
    border-bottom: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

//----Move/Copy Panel---//

.column.is-one-third {
    padding-top: 0;
    padding-bottom: 0;
}
#move_file_panel {
    float: right;
    height: 100%;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

#move_file_panel > .panel-heading {
    border-top: 0;
}

#move_file_panel > .panel-block {
    border-bottom: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

.fa.fa-arrows-h{
    width: 50px;
    height: 100%;
    float: left;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.fa.fa-arrows-h:active {
    transform: translateX(2px);
}

.fa.fa-arrows-h:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Fade animation */
.fade-enter-active, .fade-leave-active {
  transition:transform .5s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: scale(0.01);
}

.panel.panel-default.is-half {
    transition: width .5s ease;
}

.panel.panel-default.is-10 {
    transition: width .5s ease;    
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}