$primary: #00d1b2;

.columns {
    width: 100%;
}
#move_file_panel {
    float: right;
    width: calc(100% - 50px);
}
.fa.fa-arrows-h{
    width: 50px;
    height: 100%;
    float: left;
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fa.fa-arrows-h:active {
    transform: translateX(2px);
}
.active {
    background-color: $primary;
}

button {
    margin-top: 20px;
}

input {
    width: 50% !important;
}

.fade-enter-active, .fade-leave-active {
  transition:transform .5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  transform: scale(0.1)
//   width: 20%;
}